/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/


# Added by cargo
#
# already existing elements were commented out

#/target
.aider*
src/stdlib_hashes.rs
