
.org-src-container.results > pre {
    margin: 1px 0 15px 2em;                               
}

.org-src-container > pre {
    margin: 1px 0 0 2em;                               
}

.org-src-container.results::before {
    content: "Result:";
    display: inline-block;
    font-size: 0.55em;
    margin: 0 0 0 3em;
    padding: 0;
}

.tangle-wrapper[data-tangle]:before {
    content: attr(data-tangle);
    display: block;
    background-color: #eee;
    padding: 2px 5px;
    font-size: 0.8em;
    margin: 0 0 0 2em;
    color: #555;
}

p {
    margin: 12px 0 12px 0;
}

/* htmlize classes start here */

.bold {
    /* bold */
    font-weight: bold;
}
.builtin, .org-builtin {
    /* font-lock-builtin-face */
    color: #C2C2E5;
    font-weight: bold;
}
.clojure-brackets {
    /* clojure-brackets */
    color: #445f5f;
    font-weight: bold;
}
.clojure-special {
    /* clojure-special */
    color: #bbbbff;
    font-weight: bold;
    font-style: italic;
}
.comment, .org-comment {
    /* font-lock-comment-face */
    color: #AD9292;
}
.comment-delimiter, .org-comment-delimiter {
    /* font-lock-comment-delimiter-face */
    color: #AD9292;
}
.constant, .org-constant {
    /* font-lock-constant-face */
    color: #A0E5E5;
    font-weight: bold;
}
.custom, .org-custom {
    /* (:foreground "black") */
    color: #000000;
}
.default, .org-default {
    /* default */
    color: #ffffff;
    background-color: #000000;
}
.doc, .org-doc {
    /* font-lock-doc-face */
    color: #DDC29A;
    font-weight: bold;
}
.double-quote, .org-double-quote {
    /* double-quote */
    color: #DDB579;
    font-weight: bold;
}
.function-name, .org-function-name {
    /* font-lock-function-name-face */
    color: #E5E57E;
    font-weight: bold;
}
.kcats-brackets, .org-kcats-brackets {
    /* kcats-brackets */
    color: #696969;
    font-weight: bold;
}
.keyword, .org-keyword {
    /* font-lock-keyword-face */
    color: #E5C2E5;
    font-weight: bold;
}
.lisp-keyword, .org-lisp-keyword {
    /* lisp-keyword */
    color: #C2C2E5;
    font-weight: bold;
}
.lisp-parens, .org-lisp-parens {
    /* lisp-parens */
    color: #525252;
    font-weight: bold;
}
.org-block {
    /* org-block */
    color: #b3b3b3;
    background-color: #000000;
}
.org-block-begin-line {
    /* org-block-begin-line */
    color: #AD9292;
    background-color: #000000;
}
.org-block-end-line {
    /* org-block-end-line */
    color: #AD9292;
    background-color: #000000;
}
.org-checkbox {
    /* org-checkbox */
    font-weight: bold;
}
.org-code {
    /* org-code */
    color: #ffffff;
    background-color: #000000;
}
.org-document-info {
    /* org-document-info */
    color: #92AD92;
    font-weight: bold;
}
.org-document-info-keyword {
    /* org-document-info-keyword */
    color: #b3b3b3;
    background-color: #000000;
}
.org-document-title {
    /* org-document-title */
    color: #92AD92;
    font-weight: bold;
}
.org-done {
    /* org-done */
    color: #A0E5A0;
}
.org-footnote {
    /* org-footnote */
    color: #00ffff;
    text-decoration: underline;
}
.org-headline-done {
    /* org-headline-done */
    color: #ffa07a;
}
.org-level-1 {
    /* org-level-1 */
    color: #ffffff;
    font-size: 175%;
    font-weight: bold;
}
.org-level-2 {
    /* org-level-2 */
    color: #cccccc;
    font-size: 150%;
    font-weight: bold;
}
.org-level-3 {
    /* org-level-3 */
    color: #b3b3b3;
    font-size: 125%;
    font-weight: bold;
}
.org-level-4 {
    /* org-level-4 */
    color: #999999;
    font-size: 110%;
    font-weight: bold;
}
.org-level-5 {
    /* org-level-5 */
    color: #C2E5C2;
}
.org-level-6 {
    /* org-level-6 */
    color: #A0E5E5;
    font-weight: bold;
}
.org-link {
    /* org-link */
    color: #7E7EE5;
    text-decoration: underline;
}
.org-list-dt {
    /* org-list-dt */
    font-weight: bold;
}
.org-meta-line {
    /* org-meta-line */
    color: #AD9292;
    background-color: #000000;
}
.org-todo {
    /* org-todo */
    color: #E5A0A0;
}
.org-verbatim {
    /* org-verbatim */
    color: #b3b3b3;
    background-color: #000000;
}
.preprocessor, .org-preprocessor {
    /* font-lock-preprocessor-face */
    color: #00fa9a;
    font-weight: bold;
}
.regexp-grouping-backslash {
    /* font-lock-regexp-grouping-backslash */
    font-weight: bold;
}
.regexp-grouping-construct {
    /* font-lock-regexp-grouping-construct */
    font-weight: bold;
}

.rust-ampersand {
    /* rust-ampersand-face */
    color: #ffffff;
    background-color: #000000;
}
.rust-builtin-formatting-macro {
    /* rust-builtin-formatting-macro */
    color: #C2C2E5;
    font-weight: bold;
}
.rust-question-mark {
    /* rust-question-mark */
    color: #C2C2E5;
    font-weight: bold;
}
.rust-string-interpolation {
    /* rust-string-interpolation */
    color: #DDC29A;
    font-weight: bold;
    font-style: italic;
}


.secondary-selection {
    /* secondary-selection */
    background-color: #1c1c1c;
}
.string, .org-string {
    /* font-lock-string-face */
    color: #DDC29A;
    font-weight: bold;
}

.type, .org-type {
    /* font-lock-type-face */
    color: #C2E5C2;
}

.variable-name, .org-variable-name {
    /* font-lock-variable-name-face */
    color: #E5E5A0;
    font-weight: bold;
}
.warning, .org-warning {
    /* font-lock-warning-face */
    color: #ffc0cb;
    font-weight: bold;
}

a {
    color: #3344ff;
    background-color: inherit;
    font: inherit;
    text-decoration: inherit;
}
a:hover {
    text-decoration: underline;
}

